*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    // default font size of the browser is 16px === 100%
    // 10px / 16 px = 0.625 === 62.5%
}

body {
    box-sizing: border-box;
}